@import 'layout';
@import 'colors';
@import 'registry-template';
@import 'registry-component';

body {
  background-color: $background-color;
  color: $font-color;

  font-size: 24px;
  button, input {
    font-size: 18px;
  }
  input[type='checkbox'] {
    width: 1em;
    height: 1em;
  }

}
