$primary-color: #16db65;
$color2: #058c42;
$color3: #04471c;
$color4: #0d2818;
$color5: #020202;

$background-color: $color5;
$font-color: #ffffff;
$alert-color: #d90429;
$alert-background-color: #E5919EFF;

$primary-section-color: #a9a9a9;
$secondary-section-color: #444;
