<div class="layout-container">
  <header class="box box-padding">HEADER</header>
  <div class="new-todo box">
    <AddTodoIcon @isSelected={{is-empty this.selectedTodo}}/>
  </div>
  <div class="search box box-padding">SEARCH</div>
  <aside class="box box-padding">
    <NavBar @todos={{@todos}} @selectedTodo={{this.selectedTodo}}/>
  </aside>
  <section class="body-content box box-padding">
    BODY CONTENT
    {{yield}}
  </section>
</div>


