@import '../colors';

.box {
  &.box-padding {
    padding: 0.5em;
  }
  background-color: $secondary-section-color;
  color: $font-color;
  border-radius: 0.35em;
  font-size: 150%;
  &.body-content {
    background-color: $primary-section-color;
  }
}
