@import '../colors';

.box {
  background-color: $secondary-section-color;
  color: $font-color;
  border-radius: 0.35em;
  padding: 0.5em;
  font-size: 150%;
  &.body-content {
    background-color: $primary-section-color;
  }
}

.new-todo {
  &.add-new-todo-active {
    background-color: $color1;
  }
  a {
    text-decoration: none;
    display: block;
    color: $font-color;
  }
}
