@import "../colors";

.nav-bar {
  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;

    a {
      &.selected-todo {
        background-color: $color1;
      }
      border-radius: 0.35em;
      padding: 0.5em;
      text-decoration: none;
      display: block;
      color: $font-color;
    }
  }
}
