{{page-title "TodoListing"}}
<div class="layout-container">
  <header class="box">HEADER</header>
  <div class="new-todo box">NEW</div>
  <div class="search box">SEARCH</div>
  <aside class="box">ASIDE</aside>
  <section class="body-content box">
    BODY CONTENT
    {{outlet}}
  </section>
</div>
